<div class="container-">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Oreja"><use xlink:href="#bootstrap"></use></svg>
          <img src="./assets/img/Body Care.png" height="110" width="100">
        </a>
  
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href='/inicio' class="nav-link px-2 link-secondary">Hogar</a></li>
          <li><a href='/cremas' class="nav-link px-2 link-dark">Cremas</a></li>
          <li><a href='/tratamientos' class="nav-link px-2 link-dark">Tratamiento corporal</a></li>
          <li><a href='/skincare' class="nav-link px-2 link-dark">Skincare</a></li>
          
  
        </ul>
  
        <div class="col-md-3 text-end">
          <button type="button" class="btn btn-outline-primary me-2" routerLink="/login">Login</button>
        </div>
      </header>
      <body>
        <div class="container">              
            <div class="row mt-2">
              <div class="col-4 mt-2">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="/assets/tratamientos/Crema1.jpg" height="100%" alt="..." >
                  <div class="card-body">
                    <p>Crema corporal para una buena humectación </p> 
                    <h5 class="marca">DOVE </h5>
                  </div>
                </div>  
              </div>  
              <div class="col-4 mt-2">
                <div class="card" style="width: 18rem;">
                    <div algin="center">

                  <img class="card-img-top" src="/assets/cremas/CeraVe M.jpg" width="70" height="310" alt="..."></div>
                  <div class="card-body">
                    <p>Crema hidratante 50ml para rostro </p> 
                    <h5 class="marca">CeraVe</h5>
                  </div>
                </div>  
              </div> 
              <div class="col-4 mt-2">
                <div class="card" style="width: 18rem;">
                  <img  src="/assets/cremas/PONDS Crema facial.jpg" width="100%" height="100%" alt="...">
                  <div class="card-body">
                    <p>Crema facial anti-manchas 200gr </p> 
                    <h5 class="marca">POND'S </h5>
                  </div>
                </div>  
              </div> 
              <div class="col-4 mt-2">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="/assets/cremas/Gel facial sandia PONDS.jpg"  width="70" height="310" alt="...">
                  <div class="card-body">
                    <p>Gel hidratante Facial Fruity Hydra Fresh Sandía, 110gr </p> 
                    <h5 class="marca">POND'S </h5>
                  </div>
                </div>  
              </div>  
              <div class="col-4 mt-2">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="/assets/cremas/Crema neutrogena.jpg" width="80" height="330" alt="...">
                  <div class="card-body">
                    <p>Crema hidratante facial 100gr</p> 
                    <h5 class="marca">NEUTROGENA </h5>
                  </div>
                </div>  
              </div>
              <div class="col-4 mt-2">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="/assets/cremas/yves.webp" width="120" height="330" alt="...">
                  <div class="card-body">
                    <p>Crema gel facial hidratante </p> 
                    <h5 class="marca">YVES ROCHER </h5>
                  </div>
                </div>  
              </div>

            </div>
          </div>
      </body>
</div> 