<div class="container-">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Oreja"><use xlink:href="#bootstrap"></use></svg>
          <img src="./assets/img/Body Care.png" height="110" width="100">
        </a>
  
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href='/inicio' class="nav-link px-2 link-secondary">Hogar</a></li>
          <li><a href='/cremas' class="nav-link px-2 link-dark">Cremas</a></li>
          <li><a href='/tratamientos' class="nav-link px-2 link-dark">Tratamiento corporal</a></li>
          <li><a href='/skincare' class="nav-link px-2 link-dark">Skincare</a></li>
          
  
        </ul>
  
        <div class="col-md-3 text-end">
          <button type="button" class="btn btn-outline-primary me-2" routerLink="/login">Login</button>
        </div>
      </header>
      <body>
       
      </body>
</div> 